{% extends "main.html" %}
{% block content %}

<h2>Страница пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

<button> <a href="sign/logout/">Выйти</a> </button>

{% if is_not_premium %}
{% if onetime_code %}
<div> Ваш аккаунт не активирован, для того чтобы создавать и редактировать объявления активируйте аккаунт</div>
<div> нажав на кнопку "Активировать аккаунт". На вашу почту придёт код подтверждения введите его в окошко ниже.</div>
<button> <a href="sign/upgrade/"> Активировать аккаунт</a> </button>
{% endif %}
{% endif %}

{% if not onetime_code %}
<form action="/sign/onetime/" method="post">{% csrf_token %}
    <label for="onetime">Введите код из письма</label>
    <input id="onetime" type="text" name="onetime" value="{{ current_onetime }}">
    <input type="submit" value="OK">
</form>
{% endif %}

{% if not is_not_premium %}
<div> Ваш аккаунт активирован, вы можете создавать и редактировать объявления</div>
{% endif %}

{% endblock %}